<div class="container">
  <h1>Shopping Cart</h1>
  <p class="mt-3">You have ---quantity--- items in your Shopping Cart.</p>

  <table class="table table-hover mt-5">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Product</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items">
        <th scope="row">
          <img [src]="item.product.imageUrl" alt="Not Found" />
        </th>
        <td>{{ item.product.title }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.product.price | currency }}</td>
      </tr>
    </tbody>
  </table>
</div>
