<div class="container">
  <div class="row">
    <div class="col-md-6">
      <form class="row g-3" [formGroup]="productForm">
        <div class="col-12">
          <label for="inputTitle" class="form-label">Title</label>
          <input
            type="text"
            class="form-control"
            id="inputTitle"
            formControlName="title"
            [(ngModel)]="product.title"
          />
        </div>
        <!--! ERRORS  -->
        <div
          *ngIf="
            handelControl('title')?.invalid &&
            (handelControl('title')?.dirty || handelControl('title')?.touched)
          "
        >
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="handelErrors('title')['required']"
          >
            Title is required,Please.
          </div>
        </div>

        <div class="col-12">
          <label for="inputPrice" class="form-label">Price</label>
          <input
            type="text"
            class="form-control"
            id="inputPrice"
            formControlName="price"
            [(ngModel)]="product.price"
          />
        </div>
        <!--! ERRORS  -->
        <div
          *ngIf="
            handelControl('price')?.invalid &&
            (handelControl('price')?.dirty || handelControl('price')?.touched)
          "
        >
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="handelErrors('price')['required']"
          >
            Price is required,Please.
          </div>
        </div>

        <div class="col-12">
          <label for="inputImageURL" class="form-label">ImageURL</label>
          <input
            type="text"
            class="form-control"
            id="inputImageURL"
            formControlName="imageUrl"
            [(ngModel)]="product.imageUrl"
          />
        </div>
        <!--! ERRORS  -->
        <div
          *ngIf="
            handelControl('imageUrl')?.invalid &&
            (handelControl('imageUrl')?.dirty ||
              handelControl('imageUrl')?.touched)
          "
        >
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="handelErrors('imageUrl')['required']"
          >
            imageUrl is required,Please.
          </div>
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="handelErrors('imageUrl')['invalidUrl']"
          >
            invalid URL .
          </div>
        </div>

        <div class="col-12">
          <label for="inputCategory" class="form-label">Category:</label>
          <select
            id="inputCategory"
            class="form-select"
            formControlName="category"
            [(ngModel)]="product.category"
          >
            <option selected>Choose...</option>
            <option *ngFor="let category of categories" [value]="category.id">
              {{ category.name }}
            </option>
          </select>
        </div>
        <!--! ERRORS  -->
        <div
          *ngIf="
            handelControl('category')?.invalid &&
            (handelControl('category')?.dirty ||
              handelControl('category')?.touched)
          "
        >
          <div
            class="alert alert-danger"
            role="alert"
            *ngIf="handelErrors('category')['required']"
          >
            Category is required,Please.
          </div>
        </div>

        <div class="col-2" *ngIf="!id">
          <button
            [disabled]="productForm.invalid"
            (click)="addNewProduct()"
            type="button"
            class="btn btn-primary"
          >
            Add
          </button>
        </div>
        <div class="col-2" *ngIf="id">
          <button
            [disabled]="productForm.invalid"
            (click)="editProduct(product)"
            type="button"
            class="btn btn-primary"
          >
            Update
          </button>
        </div>
        <div class="col-2">
          <button (click)="onCancel()" type="button" class="btn btn-primary">
            Cancel
          </button>
        </div>
      </form>
    </div>

    <div class="col-md-6">
      <div class="card" style="width: 18rem">
        <img
          *ngIf="product.imageUrl"
          [src]="product.imageUrl"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h4 *ngIf="product.title" class="card-title">
            Title:{{ product.title }}
          </h4>
          <p *ngIf="product.price" class="card-text">
            Price:{{ product.price }}$
          </p>
          <p *ngIf="product.category" class="card-text">
            category:{{ product.category }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
