@import "../../../assets/styles/variable";
.nav-item {
  display: flex;
  align-items: center;
}
.dropdown-toggle {
  color: white !important;
  &:hover {
    color: #e0d3ef !important;
    cursor: pointer;
  }
}
.dropdown-item{
  cursor: pointer;
}
.dropdown-menu {
  background-color: #f5f5f5;
  z-index: 9999;
  li {
    a {
      transition: 0.3s;
      &:hover {
        color: #f5f5f5;
        background-color: #268391;
      }
    }
  }
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: -10px;
  top: -13px;
  width: 25px;
  height: 25px;
  font-size: 15px;
  border-radius: 50%;
  background-image: $gradient;
  color: white;
}
